<h1>Listing products</h1>

<%= link_to 'New Product', new_product_path, class: "ui mini primary button" %>

<!-- renders a helpful message with numbers of displayed vs. total entries -->
<h1><small><%= page_entries_info @products %></small></h1>

<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
  <div class="ui input focus"><%= text_field_tag :search, params[:search]  %> </div>
  <%= submit_tag "Search", class: "ui green button" %>

<% end %>

 <table class="ui table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody id="products">

 <%= render @products %>

</tbody>
 </table> 
 
 <%= paginate @products %>