<!DOCTYPE html>
<html>
<head>
  <title>Rainforest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="ui inverted main menu">
    <a class="active item" href="/">
       Rainforest
    </a>
    <a class="item" href="/products">
      <i class="shop icon"></i> Products
    </a>
    
  </div>
</div>
<% if flash[:notice] %>
      <p id="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p id="alert"><%= flash[:alert] %></p>
    <% end %>

<div>

<br /><br />

<div class="ui two column centered grid">
<div class="column">

    <%= yield %>

    <p class="userinfo">
      <% if current_user %>

        Signed in as <%= current_user.name %>. <%= link_to "Log out", session_path("current"), :method => :delete %>

      <% else %>
      
        <div class ="ui buttons">

          <%= link_to new_session_path do %>
            <div class="ui button">
              Log in
            </div>
          <% end %>

          <div class="or"></div> 

          <%= link_to new_user_path do %> 
            <div class="ui positive button">
              Sign up
          </div>
        </div>
        <% end %>

        <%= link_to new_product_path do %>
        <div class="ui basic button">
          <i class="icon user"></i>
            Create Product
        </div>
        <% end %>
      
      <% end %>
    </p>

  </div>

</div>
</div>

 </body>
</html>
